@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Give+You+Glory&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Reenie+Beanie&family=Rock+Salt&family=Splash&display=swap');

:root {
  /* font-family: 'Caveat Brush', cursive; //maybe not for body
font-family: 'Give You Glory', cursive; //not for body
font-family: 'Nothing You Could Do', cursive; //not for body
font-family: 'Permanent Marker', cursive;
font-family: 'Reenie Beanie', cursive;//body
font-family: 'Rock Salt', cursive;
font-family: 'Splash', cursive; //not for body, maybe just not */

  --ff-body: 'Rock Salt', cursive;
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */
body {
  background-image: url('./img/TexturesCom_ConcreteBare0432_3_seamless_S.png');
  overflow-x: hidden;
}

body#index {
  overflow-y: hidden;
}

/* background imagery addition for index and game html */
body#index::after,
body#index::before,
section.intro::before,
.user-choices::before,
.user-choices::after,
body#game::after,
#game::before {
  content: '';
  position: absolute;
  width: var(--_width);
  height: calc(var(--_width) / var(--_aspect-ratio));
  background-image: var(--_img);
  background-size: 100% 100%;
}

body#index::after {
  --_width: clamp(150px, 20vw, 300px);
  --_aspect-ratio: 1.5;
  --_img: url('./img/tally-n-number.png');
  top: 0;
  left: 0;
}

body#index::before {
  --_width: clamp(200px, 25vw, 400px);
  --_aspect-ratio: 3.5;
  --_img: url('./img/left-my-soul.png');
  bottom: -3%;
  right: 2%;
}

section.intro::before {
  --_width: clamp(100px, 20vw, 300px);
  --_aspect-ratio: 1.15;
  --_img: url('./img/dbjack-king.png');
  top: 0;
  right: 0;
}

.user-choices::before {
  --_width: clamp(80px, 25vw, 250px);
  --_aspect-ratio: 2;
  --_img: url('./img/years.png');
  bottom: -10%;
  left: 0;
}

.user-choices::after,
body#game::after {
  --_width: clamp(100px, 25vw, 350px);
  --_aspect-ratio: 1.7;
  --_img: url('./img/tally-only.png');
  bottom: 10%;
  right: -5%;
}

body#game::after {
  right: auto;
  left: -8%;
}

#game::before {
  --_width: clamp(100px, 20vw, 200px);
  --_aspect-ratio: 1.1;
  --_img: url('./img/old-tic-tacs.png');
  bottom: 0;
  right: 1%;
}

/*  */
footer {
  min-height: 100px;
}

section {
  font-family: var(--ff-body);
  min-height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

section h3 {
  font-weight: 600;
}

section.intro {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

section.user-choices {
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: space-evenly;
}

#choose-rounds {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#choose-rounds select#select-rounds > option {
  font-size: 1rem;
}

.custom-container {
  display: none;
  min-width: 200px;
}

.custom-container[data-visible] {
  display: inline-block;
}

input#cutsom-rounds {
  width: 5ch;
}

.choose-players {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.choose-players label {
  display: inline-block;
  font-family: 'Permanent Marker';
  cursor: pointer;
  margin: 1rem;
  padding: 0.3em;
  position: relative;
}
.choose-players label:hover {
  --_transform: scale(1.2);
  color: rgb(39, 39, 39);
  transform: var(--_transform);
  -webkit-transform: var(--_transform);
  -moz-transform: var(--_transform);
}

input[type='radio']:checked + label {
  --_border: 2px solid black;
  border: var(--_border);
  border-radius: 70% 70% 60% 92%;
}

input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--_border);
  border-radius: 79% 57% 83% 50%;
}

.choose-players input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.choose-ai-level {
  display: none;
}

.choose-ai-level[data-visible] {
  display: block;
}

/* GAME STYLING */
#game {
  font-family: var(--ff-body);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;
}

#game-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  position: relative;
  grid-column: 1/-1;
}

#game-grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./img/board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.grid-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.display-X::after {
  content: url('./img/cross.png');
}
.grid-item.display-O::after {
  content: url('./img/naught.png');
}

.btns,
.game-info {
  display: grid;
  gap: 0.5rem;
  padding: 1rem 2rem;
  grid-row: 1;
}

.game-info {
  grid-column: 1;
  justify-self: start;
}

.btns {
  grid-column: 2;
  justify-self: end;
  align-self: start;
}

.game-info .score {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 1rem 3rem;
}

.game-info .score p.entire-row {
  grid-column: 1/-1;
}

#result-msg {
  --_height: 1.5rem;
  width: clamp(300px, 50vw, 600px);
  height: fit-content;
  min-height: calc(1.5 * var(--_height));
  padding: 0;
  grid-column: 1/-1;
  text-align: center;
  font-size: var(--_height);
  filter: drop-shadow(0 0 3px magenta);
}

/* utilities */
.handwritten {
  font-family: 'Give You Glory', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(47, 47, 47);
  filter: drop-shadow(0 0 1px white);
}

[data-glow] {
  filter: drop-shadow(0 0 3px blue);
}

.btn-no-bg {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-weight: 600;
  filter: drop-shadow(0 0 10px grey);
  /* -webkit-filter: drop-shadow(); */
}

.btn-no-bg:hover {
  filter: drop-shadow(0 0 10px red);
  /* -webkit-filter: drop-shadow(); */
}

/* MEDIA QUERIES */
@media (max-width: 30em) {
  #game::before {
    content: none;
  }

  #game {
    grid-template-columns: 1fr;
  }

  .btns,
  .game-info {
    justify-self: inherit;
    grid-column: 1;
  }

  .btns {
    grid-row: 1;
  }
  .game-info {
    grid-row: 2;
  }
}
