@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Permanent+Marker&family=Rock+Salt&display=swap');

:root {
  --ff-body: 'Rock Salt', cursive;
  --ff-handwritten: 'Give You Glory', cursive;
  --ff-marker: 'Permanent Marker', cursive;

  --size-400: 1rem;
  --size-em-600: 2em;
  --fw-600: 600;
  --fs-400: 1rem;
  --fs-500: 1.5rem;

  --clr-accent-500: hsl(354, 98%, 45%);
  --clr-accent-700: rgb(39, 39, 39);
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */
body {
  background-image: url('./img/TexturesCom_ConcreteBare0432_3_seamless_S.png');
  overflow-x: hidden;
}

/* background imagery addition for index and game html */
body#index::after,
body#index::before,
section.intro::before,
.user-choices::before,
.user-choices::after,
body#game::after,
#game::before {
  content: '';
  position: absolute;
  width: var(--_width);
  height: calc(var(--_width) / var(--_aspect-ratio));
  background-image: var(--_img);
  background-size: 100% 100%;
}

body#index::after {
  --_width: clamp(150px, 20vw, 300px);
  --_aspect-ratio: 1.5;
  --_img: url('./img/tally-n-number.png');
  top: 0;
  left: 0;
}

body#index::before {
  --_width: clamp(200px, 25vw, 400px);
  --_aspect-ratio: 3.5;
  --_img: url('./img/left-my-soul.png');
  bottom: -3%;
  right: 2%;
}

section.intro::before {
  --_width: clamp(100px, 20vw, 300px);
  --_aspect-ratio: 1.15;
  --_img: url('./img/dbjack-king.png');
  top: 0;
  right: 0;
}

.user-choices::before {
  --_width: clamp(80px, 25vw, 250px);
  --_aspect-ratio: 2;
  --_img: url('./img/years.png');
  bottom: -10%;
  left: 0;
}

.user-choices::after,
body#game::after {
  --_width: clamp(100px, 25vw, 350px);
  --_aspect-ratio: 1.7;
  --_img: url('./img/tally-only.png');
  bottom: 10%;
  right: -5%;
}

body#game::after {
  right: auto;
  left: -8%;
}

#game::before {
  --_width: clamp(100px, 20vw, 200px);
  --_aspect-ratio: 1.1;
  --_img: url('./img/old-tic-tacs.png');
  bottom: 0;
  right: 1%;
}

/*  */
footer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-family: var(--ff-handwritten);
  font-weight: 600;
  letter-spacing: 0.2em;
}

footer .website-by {
  text-decoration: none;
  padding: 0.3rem;
  color: inherit;
}
footer .website-by:hover {
  --_transform: scale(1.3);
  transform: var(--_transform);
  -webkit-transform: var(--_transform);
  -moz-transform: var(--_transform);
}

section {
  font-family: var(--ff-body);
  min-height: 100%;
  position: relative;
  overflow-x: clip;
}

section h3 {
  font-weight: var(--fw-600);
}

section.intro {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(var(--fs-500), 4vw, 2rem);
}

section.user-choices {
  text-align: center;
  font-size: clamp(var(--fs-400), 5vw, var(--fs-500));
  display: grid;
  gap: var(--size-400);
  justify-items: center;
  align-content: space-evenly;
}

#choose-rounds {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-400);
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#choose-rounds select#select-rounds {
  color: black;
}

#choose-rounds select#select-rounds > option {
  font-size: var(--fs-400);
  color: black;
}

select,
input {
  background-color: hsla(0, 10%, 100%, 0.5);
  border-radius: 3px;
  border: none;
}

.custom-container {
  display: none;
  min-width: 200px;
}

.custom-container[data-visible] {
  display: inline-block;
}

input#cutsom-rounds {
  width: 5ch;
}

.choose-players {
  display: flex;
  gap: var(--size-em-600);
  flex-wrap: wrap;
  justify-content: center;
}

.choose-players label {
  display: inline-block;
  font-family: var(--ff-marker);
  cursor: pointer;
  margin: var(--size-400);
  padding: 0.3em;
  position: relative;
}
.choose-players label:hover {
  --_transform: scale(1.2);
  color: var(--clr-accent-700);
  transform: var(--_transform);
  -webkit-transform: var(--_transform);
  -moz-transform: var(--_transform);
}

input[type='radio']:checked + label {
  --_border: 2px solid black;
  border: var(--_border);
  border-radius: 70% 70% 60% 92%;
}

input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--_border);
  border-radius: 79% 57% 83% 50%;
}

.choose-players input[type='radio'] {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.choose-ai-level {
  display: none;
}

.choose-ai-level[data-visible] {
  display: block;
}

/* GAME STYLING */
#game {
  font-family: var(--ff-body);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}

#game-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  position: relative;
  grid-column: 1/-1;
}

#game-grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./img/board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.grid-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.display-X::after {
  content: url('./img/cross.png');
}
.grid-item.display-O::after {
  content: url('./img/naught.png');
}

.btns,
.game-info {
  display: grid;
  gap: 0.5rem;
  padding: var(--size-400) var(--size-em-600);
  grid-row: 1;
}

.game-info {
  grid-column: 1;
  justify-self: start;
}

.btns {
  grid-column: 2;
  justify-self: end;
  align-self: start;
}

.game-info .score {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: var(--size-400) var(--size-em-600);
}

.game-info .score p.entire-row {
  grid-column: 1/-1;
}

#result-msg {
  --_filter: drop-shadow(0 0 3px var(--clr-accent-500));
  --_height: var(--fs-500);
  width: clamp(300px, 50vw, 600px);
  height: fit-content;
  min-height: calc(1.5 * var(--_height));
  padding: 0;
  grid-column: 1/-1;
  text-align: center;
  font-size: var(--_height);
  filter: var(--_filter);
  -webkit-filter: var(--_filter);
  margin: var(--size-400) 0;
}

/* utilities */
.handwritten {
  --_filter: drop-shadow(0 0 1px white);
  font-family: var(--ff-handwritten);
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  color: var(--clr-accent-700);
  filter: var(--_filter);
  -webkit-filter: var(--_filter);
}

[data-glow] {
  --_filter: drop-shadow(0 0 1px var(--clr-accent-500))
    drop-shadow(0 0 3px white);
  --_transform: scale(1.3);
  display: inline-block;
  filter: var(--_filter);
  -webkit-filter: var(--_filter);
  transform: var(--_transform);
  -webkit-transform: var(--_transform);
  -moz-transform: var(--_transform);
}

.btn-no-bg {
  color: black;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-weight: var(--fw-600);
}

.btn-no-bg:hover {
  --_filter: drop-shadow(0 0 10px var(--clr-accent-700));
  filter: var(--_filter);
  -webkit-filter: var(--_filter);
}

/* MEDIA QUERIES */
@media (max-width: 30em) {
  #game::before {
    content: none;
  }

  #game {
    grid-template-columns: 1fr;
  }

  .btns,
  .game-info {
    justify-self: inherit;
    grid-column: 1;
  }

  .btns {
    grid-row: 1;
  }
  .game-info {
    grid-row: 2;
  }
}
