@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Give+You+Glory&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Reenie+Beanie&family=Rock+Salt&family=Splash&display=swap');

:root {
  /* font-family: 'Caveat Brush', cursive; //maybe not for body
font-family: 'Give You Glory', cursive; //not for body
font-family: 'Nothing You Could Do', cursive; //not for body
font-family: 'Permanent Marker', cursive;
font-family: 'Reenie Beanie', cursive;//body
font-family: 'Rock Salt', cursive;
font-family: 'Splash', cursive; //not for body, maybe just not */

  --ff-body: 'Rock Salt', cursive;
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */
body {
  background-image: url('./img/TexturesCom_ConcreteBare0432_3_seamless_S.png');
}

/* background imagery addition for the index html */
body#index::after {
  content: url('./img/Group\ 2.png');
  position: absolute;
  top: 0;
  left: 0;
}

body#index::before {
  content: url('./img/Group\ 4.png');
  position: absolute;
  bottom: -10%;
  right: 2%;
}

section.intro::before {
  content: url('./img/Group\ 3.png');
  position: absolute;
  top: 0;
  right: 0;
}

.user-choices::before {
  content: url('./img/Group\ 7.png');
  position: absolute;
  bottom: 0;
  left: 0;
}

.user-choices::after {
  content: url('./img/Group\ 6.png');
  position: absolute;
  bottom: 5%;
  right: -5%;
}

/* background imagery addition for the index html */
body#game::after {
  content: url('./img/Group\ 6.png');
  position: absolute;
  bottom: 5%;
  left: -8%;
}

body#game::before {
  content: url('./img/Group\ 8.png');
  position: absolute;
  bottom: 0%;
  right: 1%;
}

/*  */
section {
  font-family: var(--ff-body);
  min-height: 100%;
  position: relative;
}

section h3 {
  font-weight: 600;
}

section.intro {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

section.user-choices {
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: space-evenly;
}

#choose-rounds {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#choose-rounds select#select-rounds > option {
  font-size: 1rem;
}

input#cutsom-rounds {
  width: 5ch;
}

.choose-players {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.choose-players .choose-controller label {
  display: inline-block;
  font-family: 'Permanent Marker';
  cursor: pointer;
  margin: 1rem;
  padding: 0.3em;
  position: relative;
}
.choose-players .choose-controller label:hover {
  --_transform: scale(1.2);
  color: grey;
  transform: var(--_transform);
  -webkit-transform: var(--_transform);
  -moz-transform: var(--_transform);
}

input[type='radio']:checked + label {
  --_border: 2px solid black;
  border: var(--_border);
  border-radius: 70% 70% 60% 92%;
}

input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--_border);
  border-radius: 79% 57% 83% 50%;
}

.choose-players .choose-controller input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* GAME STYLING */
#game-grid {
  display: grid;
  height: 300px;
  width: 300px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#game-grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./img/board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.grid-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.display-X::after {
  content: url('./img/cross.png');
}
.grid-item.display-O::after {
  content: url('./img/naught.png');
}

/* utilities */
.btn-no-bg {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-weight: 600;
  filter: drop-shadow(0 0 10px grey);
  /* -webkit-filter: drop-shadow(); */
}

.btn-no-bg:hover {
  filter: drop-shadow(0 0 10px red);
  /* -webkit-filter: drop-shadow(); */
}
